@font-face {
  font-family: "TT Smalls";
  src: url("../fonts/TTSmalls-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "TT Smalls";
  src: url("../fonts/TTSmalls-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "TT Smalls";
  src: url("../fonts/TTSmalls-Medium.ttf");
  font-weight: 500;
}
