@import url(_variables.scss);

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "TT Smalls" !important;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}
